!!!
html
  head
    title= "Philuren Ltd."
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.css')
    link(rel='stylesheet', href='/css/timeline.css')
    link(rel='stylesheet', href='/sequi-light.css')
    link(rel='stylesheet', href='/styles.css')

    script(src='/fullscreen.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.js')
    script(src='/three.min.js')
    script(src='/Detector.js')
    script(src='/stats.min.js')
    script(src='/cube.js')
    script(src='/en.js')
    script(src='/js/timeline-min.js')
    script(src='/storyjs-embed.js')
    script(src='/philuren-timeline.js')
    script(src='/js/navbar.js')
    script(src='/js/wink.js')
    script(src='/client.js')
    //- script(src='/helvetiker_bold.typeface.js')
    //- script(src='/text.js')
  body
    nav(role=navigation).navbar.navbar-default.navbar-fixed-top#hackathon-navbar
      .container
        .navbar-header
          a(href='#')
            //- img(src='//placehold.it/150x42' alt='logo' style='margin-top:5px')
          button(type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse').navbar-toggle
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            li.navbar-link
              a(href='#about') About
            li.navbar-link
              a(href='#timeline') Timeline
            li.navbar-link
              a(href='#simple-hack') Simple hack
            li.navbar-link
              a(href='#hire-us') H!re us

    .page.page-header#about
      .container.page-header-container
        .row
          .col-xs-12.page-header-content
            h1.hackathon-header Philuren
            h5.hackathon-tilde ~~~~~~~~
            .profile(style='margin-right: 100px;')
              img(src='/img/phifflarn.png' data-src='/img/phifflarn.png' data-wink='/img/phifflarn-wink.png').profile-image#phifflarn-profile
              br
              p phifflarn
            .profile
              img(src='/img/buren.png' data-src='/img/buren.png' data-wink='/img/buren-wink.png').profile-image#buren-profile
              br
              p buren


        .section.profile-intro-section
          .row
            .col-xs-12.col-sm-6.profile-intro
              .profile
                img(src='/img/phifflarn.png' data-src='/img/phifflarn.png' data-wink='/img/phifflarn-wink.png').profile-image#phifflarn-profile
                br
                p phifflarn
              .profile-intro-text-container
                p An awesome introtext describing this fucker
            .col-xs-12.col-sm-6.profile-intro
              .profile
                img(src='/img/buren.png' data-src='/img/buren.png' data-wink='/img/buren-wink.png').profile-image#buren-profile
                br
                p buren
              .profile-intro-text-container
                p An awesome introtext describing this fucker


    .page.section#timeline
      #philuren-timeline

    .cube-page.section#simple-hack
      #webgl-container

    .section#hire-us
      .container
        .row
          .col-xs-12
            p.center
              a.btn.btn-lg.btn-primary philuren.hire.now!()
    #quote
      .container
        .row
          .col-xs-12
            p.
              Governments and corporations need people like you and me. We are Samurai... the Keyboard Cowboys... and all those other people who have no idea what's going on are the cattle... Moooo.

      //- .page
      //- #webgl-text

    script(type="x-shader/x-vertex")#vertexshader.
      uniform float amplitude;
      attribute vec3 displacement;
      attribute vec3 customColor;
      varying vec3 vColor;
      void main() {
        vec3 newPosition = position + amplitude * displacement;
        vColor = customColor;
        gl_Position = projectionMatrix * modelViewMatrix * vec4( newPosition, 1.0 );
      }
    script(type="x-shader/x-fragment")#fragmentshader.
      uniform vec3 color;
      uniform float opacity;
      varying vec3 vColor;
      void main() {
        gl_FragColor = vec4( vColor * color, opacity );
      }
