!!!
html
  head
    title= "Philuren Ltd."
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.css')
    link(rel='stylesheet', href='/css/timeline.css')
    link(rel='stylesheet', href='/sequi-light.css')
    link(rel='stylesheet', href='/css/particles.css')
    link(rel='stylesheet', href='/styles.css')
    link(rel='stylesheet', href="/css/morris-0.4.3.min.css")
    link(rel='stylesheet', href="/css/animated-checkboxes.css")

    script(src='/fullscreen.js')
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/waypoints.min.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/lib/jquery.easing.min.js')
    script(src='/js/lib/raphael-min.js')
    script(src='/js/morris-0.4.3.min.js')
    script(src='/js/jquery.tagcloud.js')
    script(src='/en.js')
    script(src='/js/timeline-min.js')
    script(src='/js/particle-animation.js')
    script(src='/js/tagcloud.js')
    script(src='/three.min.js')
    script(src='/Detector.js')
    script(src='/stats.min.js')
    script(src='/cube.js')

    script(src='/storyjs-embed.js')
    script(src='/philuren-timeline.js')
    script(src='/js/navbar.js')
    script(src='/js/wink.js')
    script(src='/client.js')
    script(src='/js/donut.js')
    script(src='/js/svgcheckbx.js')
  body
    nav(role='navigation').navbar.navbar-default.navbar-fixed-top#hackathon-navbar
      .navbar-header
        a(href='#about').anchor-link
          img(src='/img/logo.png' alt='logo' class='logo')
        button(type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse').navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-right
          li.navbar-link
            a(href='#about').anchor-link Intro
          li.navbar-link
            a(href='#who-we-are').anchor-link Who we are
          li.navbar-link
            a(href='#timeline').anchor-link What we've done
          li.navbar-link
            a(href='#simple-hack').anchor-link A little experiment
          li.navbar-link
            a(href='#hire-us').anchor-link H!re us


    div(data-page-id='1').page.page-header#about
      .container.page-header-container
        .row
          .col-xs-12.page-header-content
            h1.hackathon-header Philuren
            h5.hackathon-tilde ~~~~~~~~
            h2.hackathon-slogan Coffee drinkers, Software tinkers
            .profile(style='margin-right: 60px;')
              img(src='/img/phifflarn.png' data-src='/img/phifflarn.png' data-wink='/img/phifflarn-wink.png').profile-image#phifflarn-profile
              br
              h1.profile-name phifflarn
            .profile
              img(src='/img/buren.png' data-src='/img/buren.png' data-wink='/img/buren-wink.png').profile-image#buren-profile
              br
              h1.profile-name buren
            p.quote.visible-lg
              span "
              | We are Samurai... the Keyboard Cowboys...
              br
              | and all those other people who have no
              br
              | idea what's going on are the cattle...
              br
              | Moooo.
              span "
            p.citation.visible-lg - The Plague, "Hackers" 1995
        .row
          .col-xs-12
            div(style='margin-bottom: 142px;')
    .down-button-container
      p.center.down-button
        a(href='#who-we-are').anchor-link
          img(src='/img/down2.png')
        .break-line

    div(data-page-id='2').page.page-about#who-we-are
      .container.section.profile-intro-section
        .row.section
          .col-xs-12.col-sm-6.profile-intro
            h1(style='margin-left:15px;').section-heading What we do best
            .lang-cloud
              form.ac-custom.ac-checkbox.ac-checkmark
                .row
                  .col-xs-12.col-sm-6
                    ul
                      li
                        input(name='cb1' type='checkbox')#cb1
                        label(for='cb1')
                          a(href='#' rel='30') Android
                      li
                        input(name='cb2' type='checkbox')#cb2
                        label(for='cb2')
                          a(href='#' rel='28') Java
                      li
                        input(name='cb3' type='checkbox')#cb3
                        label(for='cb3')
                          a(href='#' rel='15') OpenCV
                  .col-xs-12.col-sm-6
                    ul
                      li
                        input(name='cb4' type='checkbox')#cb4
                        label(for='cb4')
                          a(href='#' rel='30') Ruby
                      li
                        input(name='cb5' type='checkbox')#cb5
                        label(for='cb5')
                          a(href='#' rel='24') Rails
                      li
                        input(name='cb6' type='checkbox')#cb6
                        label(for='cb6')
                          a(href='#' rel='18') iOS

              ul.inline-list
                li
                  a(href='#' rel='12') Cocoa,
                li
                  a(href='#' rel='7') JavaScript,
                li
                  a(href='#' rel='10') HTML5,
                li
                  a(href='#' rel='7') CSS,
                li
                  a(href='#' rel='8') MySQL,
                li
                  a(href='#' rel='8') C,
                li
                  a(href='#' rel='8') Haskell,
                li
                  a(href='#' rel='8') Git,
                li
                  a(href='#' rel='7') Bash,
                li
                  a(href='#' rel='7') AWS


          .row
            .col-xs-12.col-sm-6
              h1.section-heading about philuren
              .about-text
                p(style='margin-top:45px')
                  span Philuren
                  |   tinkers with everything from front- and backend Web development to the deep conrers of the android framework and hardcore computer vision algorithms. Nothing is out of reach for
                  span &nbsp;Philuren.
                  |.&nbsp;
                  span Philuren&nbsp;
                  | runs on code, beer and German techno.
                p
                  span Philuren
                  |   is a debugging monster, no bug has ever escaped
                  span Philurens
                  | dreaded carret.

                //- p Primarly coffee drinkers, occasionally software tinkerers.

                //- iframe(width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/97966984"  class='soundcloud')
                h2(style='margin-bottom:0;margin-top:60px;').section-heading philuren's debug weapon
                .donut.small#donut-one
          h1.pzzt Pzzzzt! Don't feed Philuren!

    .down-button-container.white
      p.center.down-button
        a(href='#timeline').anchor-link
          img(src='/img/down-inverted.png')
        .break-line
    div(data-page-id='3').page.page-timeline.section#timeline
      h1 What we have done
      #philuren-timeline

    .down-button-container.hidden-xs
      p.center.down-button
        a(href='#simple-hack').anchor-link
          img(src='/img/down2.png')
        .break-line

    div(data-page-id='4').page.page-cube.section.hidden-xs#simple-hack
      h1 Philurens Latest experiment
      .app-dialog
        h1 Connect Android Device
        h5 ~~~~~~~~~~
        p#particle-animation-trigger
          | This experiment requires an android counterpart.
          br
          br
          | Please start the android app and place your android device upright next to the screen.
          br
          | This dialog will dissapear when app is connected.
      #webgl-container
    .down-button-container.white
      p.center.down-button
        a(href='#hire-us').anchor-link
          img(src='/img/down-inverted.png')
        .break-line
    div(data-page-id='5').page.page-hire.section.visible-lg#hire-us
      h1 We Love Particles
      .page.particles-content-container
        .particles
          .row-1
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-2
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-3
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-4
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-5
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-6
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-7
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-8
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-9
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-10
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-11
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-12
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-13
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-14
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
          .row-15
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i
            i

      a(href='#').btn.btn-lg.hire-button#hire H!R3 U5
    .page.section.visible-lg
      a(href='mailto:philuren@gmail.com').btn.btn-lg Philur
