.particles-content-container {
  min-height: 95%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  perspective-origin: 50% 0;
}

.particles {
  width: 1000px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 50px 0 0 -500px;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.particles .row-1 {
  -webkit-transform: translate3d(0, -50px, -50px);
  -moz-transform: translate3d(0, -50px, -50px);
  transform: translate3d(0, -50px, -50px);
}
.particles .row-2 {
  -webkit-transform: translate3d(0, -100px, -100px);
  -moz-transform: translate3d(0, -100px, -100px);
  transform: translate3d(0, -100px, -100px);
}
.particles .row-3 {
  -webkit-transform: translate3d(0, -150px, -150px);
  -moz-transform: translate3d(0, -150px, -150px);
  transform: translate3d(0, -150px, -150px);
}
.particles .row-4 {
  -webkit-transform: translate3d(0, -200px, -200px);
  -moz-transform: translate3d(0, -200px, -200px);
  transform: translate3d(0, -200px, -200px);
}
.particles .row-5 {
  -webkit-transform: translate3d(0, -250px, -250px);
  -moz-transform: translate3d(0, -250px, -250px);
  transform: translate3d(0, -250px, -250px);
}
.particles .row-6 {
  -webkit-transform: translate3d(0, -300px, -300px);
  -moz-transform: translate3d(0, -300px, -300px);
  transform: translate3d(0, -300px, -300px);
}
.particles .row-7 {
  -webkit-transform: translate3d(0, -350px, -350px);
  -moz-transform: translate3d(0, -350px, -350px);
  transform: translate3d(0, -350px, -350px);
}
.particles .row-8 {
  -webkit-transform: translate3d(0, -400px, -400px);
  -moz-transform: translate3d(0, -400px, -400px);
  transform: translate3d(0, -400px, -400px);
}
.particles .row-9 {
  -webkit-transform: translate3d(0, -450px, -450px);
  -moz-transform: translate3d(0, -450px, -450px);
  transform: translate3d(0, -450px, -450px);
}
.particles .row-10 {
  -webkit-transform: translate3d(0, -500px, -500px);
  -moz-transform: translate3d(0, -500px, -500px);
  transform: translate3d(0, -500px, -500px);
}
.particles .row-11 {
  -webkit-transform: translate3d(0, -550px, -550px);
  -moz-transform: translate3d(0, -550px, -550px);
  transform: translate3d(0, -550px, -550px);
}
.particles .row-12 {
  -webkit-transform: translate3d(0, -600px, -600px);
  -moz-transform: translate3d(0, -600px, -600px);
  transform: translate3d(0, -600px, -600px);
}
.particles .row-13 {
  -webkit-transform: translate3d(0, -650px, -650px);
  -moz-transform: translate3d(0, -650px, -650px);
  transform: translate3d(0, -650px, -650px);
}
.particles .row-14 {
  -webkit-transform: translate3d(0, -700px, -700px);
  -moz-transform: translate3d(0, -700px, -700px);
  transform: translate3d(0, -700px, -700px);
}
.particles .row-15 {
  -webkit-transform: translate3d(0, -750px, -750px);
  -moz-transform: translate3d(0, -750px, -750px);
  transform: translate3d(0, -750px, -750px);
}
.particles.animate .row-1 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.3s ease-in-out infinite;
  -moz-animation: waving 3s 0.3s ease-in-out infinite;
  animation: waving 3s 0.3s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.5s ease-in-out infinite;
  -moz-animation: waving 3s 0.5s ease-in-out infinite;
  animation: waving 3s 0.5s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(3) {
  -webkit-animation: waving 3s 0.7s ease-in-out infinite;
  -moz-animation: waving 3s 0.7s ease-in-out infinite;
  animation: waving 3s 0.7s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(4) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(8) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(9) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(13) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(14) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.4s ease-in-out infinite;
  -moz-animation: waving 3s 0.4s ease-in-out infinite;
  animation: waving 3s 0.4s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.6s ease-in-out infinite;
  -moz-animation: waving 3s 0.6s ease-in-out infinite;
  animation: waving 3s 0.6s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(3) {
  -webkit-animation: waving 3s 0.8s ease-in-out infinite;
  -moz-animation: waving 3s 0.8s ease-in-out infinite;
  animation: waving 3s 0.8s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(4) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(8) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(9) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(13) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.0s ease-in-out infinite;
  -moz-animation: waving 3s 3.0s ease-in-out infinite;
  animation: waving 3s 3.0s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.5s ease-in-out infinite;
  -moz-animation: waving 3s 0.5s ease-in-out infinite;
  animation: waving 3s 0.5s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.7s ease-in-out infinite;
  -moz-animation: waving 3s 0.7s ease-in-out infinite;
  animation: waving 3s 0.7s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(3) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(8) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(13) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.6s ease-in-out infinite;
  -moz-animation: waving 3s 0.6s ease-in-out infinite;
  animation: waving 3s 0.6s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.8s ease-in-out infinite;
  -moz-animation: waving 3s 0.8s ease-in-out infinite;
  animation: waving 3s 0.8s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(3) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(8) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(13) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.7s ease-in-out infinite;
  -moz-animation: waving 3s 0.7s ease-in-out infinite;
  animation: waving 3s 0.7s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.8s ease-in-out infinite;
  -moz-animation: waving 3s 0.8s ease-in-out infinite;
  animation: waving 3s 0.8s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(2) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(7) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.0s ease-in-out infinite;
  -moz-animation: waving 3s 3.0s ease-in-out infinite;
  animation: waving 3s 3.0s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(1) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(6) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(11) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(5) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(10) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(15) {
  -webkit-animation: waving 3s 4s ease-in-out infinite;
  -moz-animation: waving 3s 4s ease-in-out infinite;
  animation: waving 3s 4s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.1s ease-in-out infinite;
  -moz-animation: waving 3s 4.1s ease-in-out infinite;
  animation: waving 3s 4.1s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(4) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(9) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(14) {
  -webkit-animation: waving 3s 4s ease-in-out infinite;
  -moz-animation: waving 3s 4s ease-in-out infinite;
  animation: waving 3s 4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.2s ease-in-out infinite;
  -moz-animation: waving 3s 4.2s ease-in-out infinite;
  animation: waving 3s 4.2s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(4) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(9) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(14) {
  -webkit-animation: waving 3s 4.1s ease-in-out infinite;
  -moz-animation: waving 3s 4.1s ease-in-out infinite;
  animation: waving 3s 4.1s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.3s ease-in-out infinite;
  -moz-animation: waving 3s 4.3s ease-in-out infinite;
  animation: waving 3s 4.3s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(3) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(4) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(8) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(9) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(13) {
  -webkit-animation: waving 3s 4s ease-in-out infinite;
  -moz-animation: waving 3s 4s ease-in-out infinite;
  animation: waving 3s 4s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(14) {
  -webkit-animation: waving 3s 4.2s ease-in-out infinite;
  -moz-animation: waving 3s 4.2s ease-in-out infinite;
  animation: waving 3s 4.2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.4s ease-in-out infinite;
  -moz-animation: waving 3s 4.4s ease-in-out infinite;
  animation: waving 3s 4.4s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(3) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(4) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(8) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(9) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(13) {
  -webkit-animation: waving 3s 4.1s ease-in-out infinite;
  -moz-animation: waving 3s 4.1s ease-in-out infinite;
  animation: waving 3s 4.1s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(14) {
  -webkit-animation: waving 3s 4.3s ease-in-out infinite;
  -moz-animation: waving 3s 4.3s ease-in-out infinite;
  animation: waving 3s 4.3s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.5s ease-in-out infinite;
  -moz-animation: waving 3s 4.5s ease-in-out infinite;
  animation: waving 3s 4.5s ease-in-out infinite;
}
.particles i {
  display: inline-block;
  margin: 20px 25px;
  width: 8px;
  height: 8px;
  background: #333;
  outline: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-moz-keyframes waving {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -moz-transform: translate3d(0, 200px, 0) scale(0.5);
    transform: translate3d(0, 200px, 0) scale(0.5);
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes waving {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 200px, 0) scale(0.5);
    transform: translate3d(0, 200px, 0) scale(0.5);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes waving {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 200px, 0) scale(0.5);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
